<template>
  <div class="home container">
    <div class="row">
      <div class="col">
        first col
      </div>
      <div class="col">
        <ChatWindow msg="Welcome to Your Vue.js App"/>
      </div>
      <div class="col">
        third col
      </div>
    </div>

  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue';
import ChatWindow from '@/components/ChatWindow.vue';

export default {
  name: 'HomeView',
  components: {
    ChatWindow,
  },
};
</script>
