<template>
  <div>
    <h1> This is chat window</h1>
    <div id="chatbox" class="container d-flex flex-column-reverse" style="height: 300px; max-height: 300px; overflow-y: auto;">
      <div>
        <p v-for="msg in msgs">
          {{ msg.content }}
        </p>
      </div>
      <p>
        Hello. How can I help you today?
      </p>

  </div>
  <div class="form-group">
      <textarea v-model="user_msg" class="form-control" rows="3"></textarea>
      <button @click="send" type="submit" class="btn btn-primary">Send</button>
    </div>

  </div>
</template>

<script>
"use strict"
import axios from 'axios'
export default {
  data() {
    return {
      msgs: [],
      user_msg: "",
    }
  },
  methods: {
    send() {
      const msg = {"status": "hello from chat window"}
      // grab the content from message box
      this.msgs.push({"role": "user", "content": this.user_msg})
      axios.post(
        "http://127.0.0.1:5000/chat", msg,
      ).then((response) => { 
        console.log(response)
        const reply = response.data.reply
        console.log(reply)
      this.msgs.push(reply)
      })
      .catch((error) => {
        console.error(error)
      })
    }
  },
  mounted() {

  }
}
</script>

<style>
</style>